.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Test files
test/
tmp/

# Output files from R CMD build
/*.tar.gz

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron
